.about-us {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  height: 100vh;
  
}

.background {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60%;
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.654);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 7px 13px rgb(0, 0, 0, 0.1);
}

img {
  max-width: 250px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 7px 13px rgb(0, 0, 0, 0.1);
}

.mike,
.sevil > p,
.mike,
.sevil > h3 {
  text-align: center;
}

.sevil,
.mike {
  margin-top: 20px;
}
