 /* General styling for every card

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  .cardContainer {
    min-height: 400px;
    max-height: 1000px;
    min-width: 300px;
    max-width: 1000px;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    position: relative;
    margin: 20px;
    
  }
  
  .textContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.4;
  }
  
  .textContainer span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  a {
  text-decoration: none;
  } */
  
  /* Utilities */
  /* .border {
    border: 1px solid red;
  } */ 

/* .left-box{
  background-color: antiquewhite;
  max-width: 50%;
  border-radius: 10px;
} */
#bild{
 margin-top: 10px;
}