* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: linear-gradient( 150deg, #A0EBCF 10%, #014871 100%);
} */

.glass{
    border: 2px solid black;
    backdrop-filter: blur(50px);
    display: flex;
}

img {
    max-width: 300px;

}